<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>book.btcnodejs.com</title>
    <script src="/js/jquery-1.8.0.min.js"></script>
</head>
<body>
    <div>
        <h3>Hello World!</h3>

    </div>  

    <script>
        $(function () {
            console.info('jquery load [ok]');
        })
    </script>
</body>
</html>